* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif; 
    color: #293264;
}

.blob {
  position: fixed;
  top: 0;
  right: 0;
  z-index: -10;
}

.blob1 {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -10;
}

.homepg {
    width: 100%;
    margin: 6em auto 4em auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 1em;
}


.title {
    font-size: 5rem;
    font-weight: 800;
    text-shadow: 6px 5px 5px black;
    margin: 0 auto;
}

.game-desc {
    font-size: 1rem;
    font-weight: 700;
    margin: 20px auto;
}

button {
    font-size: 1.25rem;
    font-weight: bold;
    color: #fff;
    border: none;
    background: #4D5B9E;
    border-radius: 6px;
    height: 50px;
    width: 200px;
    cursor: pointer;
    margin: 20px 0;
    transition: transform .3s;
}

button:active,
button:hover {
    transform: translateY(-5px);
    background: #fff;
    color: #293264;
    border: 2px solid #293264;
    font-weight: 800;
}

button:focus {
    outline: none;
}

.start-quiz-btn {
    margin-top: 2em;
}

form > .select {
    color: #293264;
    font-size: 1.25rem;
    font-weight: 700;
}

form > select {
    height: 30px;
    margin-bottom: 15px;
    border: 1px solid #293264;
    cursor: pointer;
    text-align: center;
    border-radius: 8px;
    width: 70%;
}

form > select:focus {
    outline: none;
}

/* Question page */

.question-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em 0 4em 0;
}

.choices {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.label-radio {
    border-radius: 7.942px;
    border: 0.794px solid #4D5B9E;
    cursor: pointer;
    padding: .3em .3em;
    font-size: 1rem;
}

.question {
    font-size: 1rem;
    font-weight: 800;
    color: #293264;
}

.quiz-page {
    padding: 2em;
    text-align: justify;
}

input[type="radio"] {
    display: none;
}

.total-score { 
    margin: 3em auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: .2em;
}

.score-msg {
    color: #293264; 
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin-right: .5em;
    margin-top: .8em;
}

.check-answer-btn {
    margin-top: 2.5em;
}

.play-again-btn,
.back-to-home {
    margin-bottom: 0;
}
/* Footer */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: .5em;
    line-height: 0;
    font-size: .75rem;
    font-weight:  700;
    background: #1e1e24;
    color: #fff;
    margin-top: 2em;
    margin-bottom: 0;
}


.footer-con > img {
    width: 3em;
    object-fit: cover;
}

footer > p {
    text-align: center;
    margin: .5em;
}

.footer-con {
    display: flex;
    justify-content: center;
}

@media (min-width: 500px) {
    .question-page {
        padding: 0 2em;
    }
    .question {
        font-size: 1.2rem;    
    }
    
    .label-radio {
    padding: .3em .5em;
    font-size: 1.2rem;
    }
    
    .inner-homepg {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .title {
        font-size: 7rem;
    }
    
    form > select {
        max-width: 500px;
        width: 100%;
    }
}